{#
/**
 * @file
 * Default theme implementation for a summary of an image resize effect.
 *
 * Available variables:
 * - data: The current configuration for this fuzzy effect, including:
 *   - fuzzy_level: The level of fuzziness of the fuzzy image.
 * - effect: The effect information, including:
 *   - id: The effect identifier.
 *   - label: The effect name.
 *   - description: The effect description.
 *
 * @ingroup themeable
 */
#}

{% if data.fuzzy_level %}
  {% trans %}
    Level {{ data.fuzzy_level|e }}%
  {% endtrans %}
{% endif %}