{#
/**
 * @file
 * Default theme implementation to display an Image+ object.
 *
 * Available variables:
 * - attributes: HTML attributes for the image, including the following:
 *   - src: Full URL or relative path to the image file.
 *   - class: One or more classes to be applied to the image.
 *   - width: The width of the image (if known).
 *   - height: The height of the image (if known).
 *   - title: The title of the image.
 *   - alt: The alternate text for the image.
 *
 * @see template_preprocess_image_plus()
 *
 * @ingroup themeable
 */
#}
{% if image_plus.link %}
  <a{{attributes}}>
    {{image}}
  </a>
{% else %}
  <span{{attributes}}>
    {{image}}
  </span>
{% endif %}
{#{{ element }}#}

